<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.sun {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  /* background-color:blue; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;

  /* min-height: 700px; */
  /* Center and scale the image nicely */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  top: 10px;
  left: 1000px;

}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;

}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(42, 245, 76);

  color: black;
  cursor: pointer;
 
}
.table1{
  /*background-color: blue;*/
  position: relative;
  width: 290px;
  height: 120px;
  left:530px;
  top:250px;
}
div.welcom:hover{
  font-size: 50%;
}
</style>
</head>
<body class="sun">
    <div class="main">
    <div class="upper">
      <h1>Hello! </h1><b><i><p style="font-size: 50px;"><%=data["FirstName"]%> <%=data["LastName"]%></i></b></p>
      <p>You are Logged in Successfully!</p>
      <p>Thanks For Logging in the library world. Here you will Get Old and New books to read.<br> We hope you will enjoy.</p>
      <div class="welcom"></div>
      <p style="font-size:medium;" class="Advantages"><b> Best Advantages of Reading:-</b><br><br>
        -=>>>  Mental Stimulation. ...<br>
        -=>>>   Stress Reduction. ...<br>
        -=>>>   Knowledge. ...<br>
        -=>>>  Vocabulary Expansion. ...<br>
        -=>>>  Memory Improvement. ...
        -=>>>  Stronger Analytical Thinking Skills. ...<br>
        -=>>>  Improved Focus and Concentration. ...<br>
        -=>>>  Better Writing Skills.</p></div>
    </div>
    <div class="library">
     <b><a class="hover1" style="text-decoration: none;" href="https://www.wdl.org/en/">Click me For Fun and Enjoy reading the Horror Books and Many Historicals Books</a></b> 
    </div>
        <!-- <h1>You are welcome to Internet world!!!</h1>
        <% for(i in data){%>
            <%var name%> <%=data[i]%>
            <p><%=i%>:<%=data[i]%></p>
        <%}%> -->
    <div class="container">
      <div class="topnav">
        <a  onclick="location.href='/'">Home</a>
        <a  onclick="location.href='/signup'"> Sign Up </a>
        <a class="button button2" onclick="location.href='/login'">Login</a>
        <a  onclick="location.href='about'">About</a>
      </div>
  </div>
    </div>
</body>
</html>